<p>
  <b>Name:</b>
  <%=h @rule.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @rule.description %>
</p>

<p>
  <b>Tracking:</b>
  <%=h @rule.tracking %>
</p>


<p>
  <b>Database:</b>
  <%=h @rule.database_id %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>