<% form_for @instrument do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :round_id %><br />
	<%= collection_select(:instrument, :round_id, @rounds, :id, :name, options ={:prompt => "Select a round"}) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :keys, "Primary key variables separated by spaces and in alphabetical order (e.g. \"code round sitestr\")" %><br />
    <%= f.text_field :keys %>
  </p>
  <p><%= f.submit %></p>
<% end %>
