<% title "Log in" %>  
  
<% form_for @user_session do |form| %>  
<%= form.error_messages %>  
  <p>  
    <%= form.label :login, "Username" %>  
    <%= form.text_field :login %>  
  </p>  
  <p>  
    <%= form.label :password, "Password" %>  
    <%= form.password_field :password %>  
  </p>  
  <p>  
    <%= form.submit "Submit" %>  
  </p>  
<% end %>